<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::script},~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <script></script>
</head>
<body>
<main>
    <h1>Login</h1>
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Use: johnsnow@micronaut.example</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            <div id="passwordHelp" class="form-text">Use: aegon</div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</main>
</body>
</html>
