<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::script},~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World</title>
    <script></script>
</head>
<body>
<main>
    <h1>Hello World</h1>
    <h2>JWT: <span th:text="${jwt}"></span></h2>
    <h2>JWT ID: <span th:text="${jwtId}"></span></h2>
    <h2>expiration: <span th:text="${exp}"></span></h2>
    <p>Access the API with:<br/>
    <pre>curl -i -H "Authorization: Bearer <code th:text="${jwt}"></code>" localhost:8080/api/hello</pre>
    </p>
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
</main>
</body>
</html>
